@import url(theme.css);
@import url(qzone.css);

header {
	padding: 20px 0;
	font-size: 24px;
	font-weight: 700;
}

article #title {
	font-size: 24px;
	line-height: 1.5;
	font-weight: bold;
	font-family: Georgia, serif, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-style: italic;
	color: #b5e853;
	padding: 5px 0;
	border-bottom: 1px dashed #b5e853;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
	0 0 5px rgba(181, 232, 83, 0.1),
	0 0 10px rgba(181, 232, 83, 0.1);
	letter-spacing: -1px;
	-webkit-font-smoothing: antialiased;
}

blockquote {
	display: block;
	color: #ffffff;
	background-color: #333333;
	font-style: italic;
	
	max-width: 100%;
	margin: 10px 20px;
	padding: 5px;
	border: 1px solid #999999;
	
	box-shadow: 0 0 20px #777777;
	-webkit-box-shadow: 0 0 20px #777777;
	-moz-box-shadow: 0 0 20px #777777;
	-o-box-shadow: 0 0 20px #777777;
	-ms-box-shadow: 0 0 20px #777777;
}

#main {
}

#author {
	text-align: right;
	color: yellow;
}

table {
	width: 80%;
	margin: 10px auto;
}

thead, .thead {
	font-style: italic;
	font-weight: 700;
}

td {
	border: 1px solid #666666;
	padding: 5px 8px;
	background-color: #222222;
}

@media screen and (min-device-width: 768px) {
	
	article {
		width: 700px;
		padding: 0px 10px;
		float: left;
	}
	
	article embed {
		width: 640px;
		height: 480px;
	}
	
	aside {
		padding: 5px 15px;
		float: right;
		width: 220px;
		border: 1px solid #555555;
	}
	
	#page_qrcode {
		margin: -70px 8px 8px 8px;
	}
}

#page_qrcode {
	position: relative;
	display: none;
	
	width: 128px;
	height: 128px;
	border: 0px;
}

#page_qrcode img {
	margin: 0;
}

.clear {
	clear: both;
}
