
@import url(theme.css);

header {
	padding: 20px 0;
}

#main {
}

#author {
	text-align: right;
	color: yellow;
}


@media screen and (min-device-width: 960px) {
	
	article {
		width: 700px;
		padding: 0px 10px;
	}
	
	aside {
		padding: 5px 8px;
		float: right;
		width: 240px;
		border: 1px solid #333333;
	}
	
	article {
		float: left;
	}
}


.clear {
	clear: both;
}