@import url(theme.css);

body {
	margin: 0;
	padding: 0;
	color: #eaeaea;
	font: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

section {
	display: block;
	margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}

li {
	line-height: 1.4 ;
}

header {
	background: rgba(0, 0, 0, 0.1);
	border-bottom: 1px dashed #b5e853;
	padding: 20px 0;
	margin: 0 0 40px 0;
}

article, footer {
	padding: 5px 40px;
}

header h1:before {
	content: ">> ";
	font-size: 24px;
}

header h2 {
	font-size: 18px;
	font-weight: 300;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: #b5e853;
	letter-spacing: -0.03em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
	0 0 5px rgba(181, 232, 83, 0.1),
	0 0 10px rgba(181, 232, 83, 0.1);
}

dt {
	font-style: italic;
	font-weight: bold;
}

ul li {
	list-style: none;
}

blockquote {
	color: #aaa;
	padding-left: 10px;
	border-left: 1px dotted #666;
}

pre {
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 10px;
	font-size: 14px;
	color: #b5e853;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	text-wrap: normal;
	overflow: auto;
	overflow-y: hidden;
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px dashed #b5e853;
	color: #b5e853;
}

/* Clearfix */

.cf:before, .cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

.cf {
	zoom:1;
}

.clear {
	clear: both;
}

header a {
	padding: 5px 8px;
}
#menu, header h1 {
	visibility: hidden;
}

@media screen and (min-device-width: 768px) {
	
	header h1 {
		font-size: 30px;
		line-height: 1.5;
		width: 980px;
		margin: 0 auto;
		font-weight: bold;
		font-family: Georgia, serif, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
		font-style: italic;
		color: #b5e853;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
		0 0 5px rgba(181, 232, 83, 0.1),
		0 0 10px rgba(181, 232, 83, 0.1);
		letter-spacing: -1px;
		-webkit-font-smoothing: antialiased;
	}
	
	aside {
		padding: 5px 10px;
		float: right;
		width: 360px;
		border: 1px solid #555555;
	}
	
	article {
		float: left;
	}
}
