
#qzone_wrap {
	
}

#qzone_wrap {
	padding: 20px 0px;
	border-top: 1px dashed #777777;
}

#qzone {
	
}

@media screen and (min-device-width: 768px) {
	
	#qzone {
		-webkit-column-width: 240px;
		-moz-column-width: 240px;
		-o-colum-width: 240px;
		column-width: 240px;
		-webkit-column-gap: 1px;
		-moz-column-gap: 1px;
		-o-column-gap: 1px;
		column-gap: 1px;
	}
	
	#qzone .category {
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		display:inline-block;
		position:relative;
		margin:2px;
	}
	
}

#qzone li {
	list-style: decimal inside;
	color: yellow;
}

#qzone span {
	color: gray;
}
