<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>baimouse_arm_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 32}</string>
			<key>spriteSourceSize</key>
			<string>{84, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{949, 357}, {84, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 76}</string>
			<key>spriteSourceSize</key>
			<string>{60, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 574}, {60, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 150}</string>
			<key>spriteSourceSize</key>
			<string>{160, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 673}, {160, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {312, 296}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{312, 296}</string>
			<key>spriteSourceSize</key>
			<string>{312, 296}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 347}, {312, 296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_mouth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 40}</string>
			<key>spriteSourceSize</key>
			<string>{33, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 897}, {33, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_ying.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 6}, {155, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{155, 35}</string>
			<key>spriteSourceSize</key>
			<string>{201, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 357}, {155, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bee.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 94}</string>
			<key>spriteSourceSize</key>
			<string>{100, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1088, 575}, {100, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bread.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 136}</string>
			<key>spriteSourceSize</key>
			<string>{78, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 365}, {78, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {339, 201}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{339, 201}</string>
			<key>spriteSourceSize</key>
			<string>{339, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1465, 2}, {339, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 164}</string>
			<key>spriteSourceSize</key>
			<string>{208, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1088, 409}, {208, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {401, 343}}</string>
			<key>spriteOffset</key>
			<string>{0, 10}</string>
			<key>spriteSize</key>
			<string>{401, 343}</string>
			<key>spriteSourceSize</key>
			<string>{401, 363}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 2}, {401, 343}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{62, 69}</string>
			<key>spriteSourceSize</key>
			<string>{62, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 503}, {62, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_mouth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{29, 49}</string>
			<key>spriteSourceSize</key>
			<string>{29, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 825}, {29, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 45}</string>
			<key>spriteSourceSize</key>
			<string>{84, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 347}, {84, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {22, 36}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{22, 36}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 979}, {22, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{30, 38}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 939}, {30, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{128, 70}</string>
			<key>spriteSourceSize</key>
			<string>{128, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 825}, {128, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_arn_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 93}</string>
			<key>spriteSourceSize</key>
			<string>{118, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 615}, {118, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {211, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 203}</string>
			<key>spriteSourceSize</key>
			<string>{211, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1429, 205}, {211, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_eye_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {124, 110}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{124, 110}</string>
			<key>spriteSourceSize</key>
			<string>{200, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 391}, {124, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_eye_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {124, 110}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{124, 110}</string>
			<key>spriteSourceSize</key>
			<string>{200, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 503}, {124, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_eye_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 4}, {124, 110}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{124, 110}</string>
			<key>spriteSourceSize</key>
			<string>{200, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 897}, {124, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {388, 361}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{388, 361}</string>
			<key>spriteSourceSize</key>
			<string>{388, 361}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {388, 361}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_leg_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{103, 70}</string>
			<key>spriteSourceSize</key>
			<string>{103, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 645}, {103, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_leg_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{124, 104}</string>
			<key>spriteSourceSize</key>
			<string>{124, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1298, 409}, {124, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 55}, {254, 288}}</string>
			<key>spriteOffset</key>
			<string>{-37, 11}</string>
			<key>spriteSize</key>
			<string>{254, 288}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 394}, {254, 288}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 39}, {206, 304}}</string>
			<key>spriteOffset</key>
			<string>{-59, 19}</string>
			<key>spriteSize</key>
			<string>{206, 304}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1424, 410}, {206, 304}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 7}, {184, 336}}</string>
			<key>spriteOffset</key>
			<string>{-62, 35}</string>
			<key>spriteSize</key>
			<string>{184, 336}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 673}, {184, 336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {226, 338}}</string>
			<key>spriteOffset</key>
			<string>{-47, 24}</string>
			<key>spriteSize</key>
			<string>{226, 338}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 645}, {226, 338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 107}, {306, 306}}</string>
			<key>spriteOffset</key>
			<string>{-4, -50}</string>
			<key>spriteSize</key>
			<string>{306, 306}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 365}, {306, 306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 174}, {326, 212}}</string>
			<key>spriteOffset</key>
			<string>{2, -70}</string>
			<key>spriteSize</key>
			<string>{326, 212}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{795, 143}, {326, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 100}, {304, 264}}</string>
			<key>spriteOffset</key>
			<string>{-22, -22}</string>
			<key>spriteSize</key>
			<string>{304, 264}</string>
			<key>spriteSourceSize</key>
			<string>{350, 420}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1123, 143}, {304, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_ying.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 6}, {186, 41}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{186, 41}</string>
			<key>spriteSourceSize</key>
			<string>{238, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 684}, {186, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>word_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 10}, {668, 139}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{668, 139}</string>
			<key>spriteSourceSize</key>
			<string>{698, 157}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{795, 2}, {668, 139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>