<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>baimouse_arm_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {52, 87}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{52, 87}</string>
			<key>spriteSourceSize</key>
			<string>{62, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{723, 254}, {52, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 17}, {92, 63}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 63}</string>
			<key>spriteSourceSize</key>
			<string>{98, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 147}, {92, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 18}, {192, 136}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{192, 136}</string>
			<key>spriteSourceSize</key>
			<string>{238, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 561}, {192, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_ear_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 60}, {266, 229}}</string>
			<key>spriteOffset</key>
			<string>{-4, 11}</string>
			<key>spriteSize</key>
			<string>{266, 229}</string>
			<key>spriteSourceSize</key>
			<string>{368, 371}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 83}, {266, 229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_ear_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 40}, {235, 217}}</string>
			<key>spriteOffset</key>
			<string>{-3, -5}</string>
			<key>spriteSize</key>
			<string>{235, 217}</string>
			<key>spriteSourceSize</key>
			<string>{313, 287}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 314}, {235, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 25}, {241, 251}}</string>
			<key>spriteOffset</key>
			<string>{8, 3}</string>
			<key>spriteSize</key>
			<string>{241, 251}</string>
			<key>spriteSourceSize</key>
			<string>{303, 307}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 278}, {241, 251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_leg_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 11}, {56, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{56, 47}</string>
			<key>spriteSourceSize</key>
			<string>{72, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 254}, {56, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_leg_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {43, 45}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{43, 45}</string>
			<key>spriteSourceSize</key>
			<string>{47, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 36}, {43, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_ying.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 7}, {175, 39}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{175, 39}</string>
			<key>spriteSourceSize</key>
			<string>{227, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 36}, {175, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bee_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{149, 118}</string>
			<key>spriteSourceSize</key>
			<string>{149, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{705, 533}, {149, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bela.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {225, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{225, 175}</string>
			<key>spriteSourceSize</key>
			<string>{225, 193}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 77}, {225, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_arm_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {59, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{59, 79}</string>
			<key>spriteSourceSize</key>
			<string>{73, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{837, 2}, {59, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {50, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{50, 87}</string>
			<key>spriteSourceSize</key>
			<string>{54, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{754, 58}, {50, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 21}, {217, 142}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{217, 142}</string>
			<key>spriteSourceSize</key>
			<string>{231, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 533}, {217, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_ear_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 16}, {238, 241}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{238, 241}</string>
			<key>spriteSourceSize</key>
			<string>{294, 283}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 531}, {238, 241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_ear_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 38}, {255, 240}}</string>
			<key>spriteOffset</key>
			<string>{7, 11}</string>
			<key>spriteSize</key>
			<string>{255, 240}</string>
			<key>spriteSourceSize</key>
			<string>{333, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 36}, {255, 240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 12}, {239, 245}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{239, 245}</string>
			<key>spriteSourceSize</key>
			<string>{273, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{245, 314}, {239, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_leg_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 41}</string>
			<key>spriteSourceSize</key>
			<string>{38, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 36}, {38, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_leg_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {40, 43}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{40, 43}</string>
			<key>spriteSourceSize</key>
			<string>{42, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 36}, {40, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {24, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{24, 42}</string>
			<key>spriteSourceSize</key>
			<string>{40, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 36}, {24, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{34, 44}</string>
			<key>spriteSourceSize</key>
			<string>{40, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 36}, {34, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>word_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 10}, {833, 32}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{833, 32}</string>
			<key>spriteSourceSize</key>
			<string>{855, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{141, 953}, {833, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ying.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {136, 20}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{136, 20}</string>
			<key>spriteSourceSize</key>
			<string>{154, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 36}, {136, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>