<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>baimouse.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {323, 363}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{323, 363}</string>
			<key>spriteSourceSize</key>
			<string>{323, 367}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 342}, {323, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>baimouse_arm.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 32}</string>
			<key>spriteSourceSize</key>
			<string>{72, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 975}, {72, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bee.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 108}</string>
			<key>spriteSourceSize</key>
			<string>{116, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1046, 912}, {116, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bread.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {316, 237}}</string>
			<key>spriteOffset</key>
			<string>{-18, 4}</string>
			<key>spriteSize</key>
			<string>{316, 237}</string>
			<key>spriteSourceSize</key>
			<string>{356, 245}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{900, 222}, {316, 237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gun.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {326, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{326, 196}</string>
			<key>spriteSourceSize</key>
			<string>{326, 196}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1039, 2}, {326, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_arm_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 24}</string>
			<key>spriteSourceSize</key>
			<string>{64, 24}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 675}, {64, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {85, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{85, 41}</string>
			<key>spriteSourceSize</key>
			<string>{85, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 975}, {85, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {156, 154}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{156, 154}</string>
			<key>spriteSourceSize</key>
			<string>{174, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 519}, {156, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heimouse_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {292, 264}}</string>
			<key>spriteOffset</key>
			<string>{-4, 5}</string>
			<key>spriteSize</key>
			<string>{292, 264}</string>
			<key>spriteSourceSize</key>
			<string>{300, 274}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{399, 2}, {292, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 1}, {24, 42}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{24, 42}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{525, 975}, {24, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wing_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 4}, {34, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{34, 44}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{489, 975}, {34, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_arm_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 120}</string>
			<key>spriteSourceSize</key>
			<string>{67, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1026, 461}, {67, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_arm_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 86}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 86}</string>
			<key>spriteSourceSize</key>
			<string>{160, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 912}, {160, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_body.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 194}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 194}</string>
			<key>spriteSourceSize</key>
			<string>{209, 194}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1218, 200}, {209, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_eye_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {176, 124}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{176, 124}</string>
			<key>spriteSourceSize</key>
			<string>{220, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 519}, {176, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_eye_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {176, 124}}</string>
			<key>spriteOffset</key>
			<string>{4, -2}</string>
			<key>spriteSize</key>
			<string>{176, 124}</string>
			<key>spriteSourceSize</key>
			<string>{220, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 519}, {176, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {395, 338}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{395, 338}</string>
			<key>spriteSourceSize</key>
			<string>{395, 338}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {395, 338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_leg_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {96, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 78}</string>
			<key>spriteSourceSize</key>
			<string>{96, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 222}, {96, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_leg_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {183, 93}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{183, 93}</string>
			<key>spriteSourceSize</key>
			<string>{235, 93}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{841, 519}, {183, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 87}, {262, 296}}</string>
			<key>spriteOffset</key>
			<string>{-4, 15}</string>
			<key>spriteSize</key>
			<string>{262, 296}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 614}, {262, 296}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{114, 70}, {216, 312}}</string>
			<key>spriteOffset</key>
			<string>{-28, 24}</string>
			<key>spriteSize</key>
			<string>{216, 312}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1148, 461}, {216, 312}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 37}, {198, 340}}</string>
			<key>spriteOffset</key>
			<string>{-35, 43}</string>
			<key>spriteSize</key>
			<string>{198, 340}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1410, 443}, {198, 340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 48}, {240, 342}}</string>
			<key>spriteOffset</key>
			<string>{-18, 31}</string>
			<key>spriteSize</key>
			<string>{240, 342}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 645}, {240, 342}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{112, 141}, {324, 314}}</string>
			<key>spriteOffset</key>
			<string>{24, -48}</string>
			<key>spriteSize</key>
			<string>{324, 314}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 707}, {324, 314}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 209}, {344, 218}}</string>
			<key>spriteOffset</key>
			<string>{33, -68}</string>
			<key>spriteSize</key>
			<string>{344, 218}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 2}, {344, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wolf_tail_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 133}, {312, 272}}</string>
			<key>spriteOffset</key>
			<string>{11, -19}</string>
			<key>spriteSize</key>
			<string>{312, 272}</string>
			<key>spriteSourceSize</key>
			<string>{500, 500}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 701}, {312, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>word_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {571, 175}}</string>
			<key>spriteOffset</key>
			<string>{-20, -2}</string>
			<key>spriteSize</key>
			<string>{571, 175}</string>
			<key>spriteSourceSize</key>
			<string>{621, 193}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1461, 49}, {571, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>