<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFNode</key>
	<dict>
		<key>Layers</key>
		<array>
			<dict>
				<key>Tag</key>
				<integer>11110001</integer>
				<key>Sprites</key>
				<array>
					<dict>
						<key>Tag</key>
						<integer>22220001</integer>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>File</key>
									<string>jiaohuadehuli-daoyu.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playBackgroundMusic</string>
								</dict>
							</array>
							<key>onSwipeLeft</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Scene</key>
									<string>page1</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
						</dict>
						<key>File</key>
						<string>cover.png</string>
						<key>Position</key>
						<string>{512, 384}</string>
						<key>TouchEnabled</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Tag</key>
				<integer>11110002</integer>
				<key>Sprites</key>
				<array>
					<string>include class=&quot;test.plist&quot;, args=&quot;haha&quot;</string>
				</array>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
