<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFNode</key>
	<dict>
		<key>Textures</key>
		<array>
			<dict>
				<key>File</key>
				<string>Page7_default.plist</string>
			</dict>
		</array>
		<key>Layers</key>
		<array>
			<dict>
				<key>Sprites</key>
				<array>
					<dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>File</key>
									<string>page7.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playBackgroundMusic</string>
								</dict>
							</array>
							<key>onSwipeLeft</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<false/>
									<key>Scene</key>
									<string>back</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
							<key>onSwipeRight</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<true/>
									<key>Scene</key>
									<string>page6</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
						</dict>
						<key>File</key>
						<string>bg_7.png</string>
						<key>Position</key>
						<string>{512, 384}</string>
						<key>TouchEnabled</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SpriteBatchNode</key>
				<string>Page7_default.png</string>
				<key>SpriteFrames</key>
				<string>Page7_default.plist</string>
				<key>Sprites</key>
				<array>
					<dict>
						<key>File</key>
						<string>wood.png</string>
						<key>Position</key>
						<string>{296,320}</string>
					</dict>
					<dict>
						<key>Size</key>
						<string>{320,400}</string>
						<key>Position</key>
						<string>{292,285}</string>
						<key>AnchorPoint</key>
						<string>{0.5,0}</string>
						<key>IsTest</key>
						<false/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>File</key>
								<string>baimouse_body.png</string>
								<key>Position</key>
								<string>{162,88}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>1.2</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<integer>1</integer>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_hand.png</string>
								<key>Position</key>
								<string>{249,109}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.5}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,8}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,-8}</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_head.png</string>
								<key>Position</key>
								<string>{250,161}</string>
								<key>AnchorPoint</key>
								<string>{0.7,0.2}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.8</real>
											<key>Name</key>
											<string>DelayTime</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>10</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.8</real>
											<key>Name</key>
											<string>DelayTime</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Size</key>
						<string>{320,460}</string>
						<key>Position</key>
						<string>{553,263}</string>
						<key>AnchorPoint</key>
						<string>{0.3,0}</string>
						<key>IsTest</key>
						<false/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>1.2</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_arm_left.png</string>
								<key>Position</key>
								<string>{76,104}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.3}</string>
								<key>IsTest</key>
								<false/>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>1.2</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_arm_right.png</string>
								<key>Position</key>
								<string>{201,120}</string>
								<key>AnchorPoint</key>
								<string>{0.2,0.3}</string>
								<key>IsTest</key>
								<false/>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>1.2</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_leg.png</string>
								<key>Position</key>
								<string>{195,42}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.9}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>heimouse_body.png</string>
								<key>Position</key>
								<string>{133,0}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0}</string>
								<key>IsTest</key>
								<false/>
							</dict>
							<dict>
								<key>File</key>
								<string>heimouse_head.png</string>
								<key>Position</key>
								<string>{172,165}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.2}</string>
								<key>Sprites</key>
								<array>
									<dict>
										<key>File</key>
										<string>heimouse_mouth.png</string>
										<key>Position</key>
										<string>{23,123}</string>
										<key>AnchorPoint</key>
										<string>{0.4,1}</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.5</real>
											<key>Name</key>
											<string>MoveTo</string>
											<key>Position</key>
											<string>{861,150}</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.5</real>
											<key>Name</key>
											<string>MoveTo</string>
											<key>Position</key>
											<string>{861,134}</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
							<key>fly</key>
							<dict>
								<key>Name</key>
								<string>Sequence</string>
								<key>Actions</key>
								<array>
									<dict>
										<key>Duration</key>
										<integer>6</integer>
										<key>Name</key>
										<string>BezierTo</string>
										<key>StartPosition</key>
										<string>{861,134}</string>
										<key>ControlPoint1</key>
										<string>{150,100}</string>
										<key>ControlPoint2</key>
										<string>{150,700}</string>
										<key>EndPosition</key>
										<string>{861,134}</string>
									</dict>
								</array>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
							<key>onClick</key>
							<array>
								<dict>
									<key>Name</key>
									<string>fly</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{861, 134}</string>
						<key>Size</key>
						<string>{100,100}</string>
						<key>IsTest</key>
						<false/>
						<key>TouchEnabled</key>
						<true/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>0.5</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<integer>1</integer>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wing_left.png</string>
								<key>Position</key>
								<string>{44,55}</string>
								<key>AnchorPoint</key>
								<string>{0.2,0.1}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>bee.png</string>
								<key>Position</key>
								<string>{41,56}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>0.3</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>1.3</real>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wing_right.png</string>
								<key>Position</key>
								<string>{65,49}</string>
								<key>AnchorPoint</key>
								<string>{0.4,0.1}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Actions</key>
										<array>
											<dict>
												<key>Duration</key>
												<integer>0</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, -104}, {743, 104}}</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>2</integer>
												<key>Name</key>
												<string>DelayTime</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>5</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, 104}, {743, 104}}</string>
											</dict>
										</array>
										<key>Name</key>
										<string>Sequence</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>word_7.png</string>
								<key>Position</key>
								<string>{417, 90}</string>
								<key>IsTest</key>
								<false/>
							</dict>
						</array>
						<key>ZOrder</key>
						<integer>99</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
