<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFNode</key>
	<dict>
		<key>Textures</key>
		<array>
			<dict>
				<key>File</key>
				<string>Page5_default.plist</string>
			</dict>
		</array>
		<key>Layers</key>
		<array>
			<dict>
				<key>Sprites</key>
				<array>
					<dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>File</key>
									<string>page5.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playBackgroundMusic</string>
								</dict>
							</array>
							<key>onSwipeLeft</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<false/>
									<key>Scene</key>
									<string>page6</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
							<key>onSwipeRight</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<true/>
									<key>Scene</key>
									<string>page4</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
						</dict>
						<key>File</key>
						<string>bg_5.png</string>
						<key>Position</key>
						<string>{512, 384}</string>
						<key>TouchEnabled</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SpriteBatchNode</key>
				<string>Page5_default.png</string>
				<key>SpriteFrames</key>
				<string>Page5_default.plist</string>
				<key>Sprites</key>
				<array>
					<dict>
						<key>Size</key>
						<string>{320,460}</string>
						<key>Position</key>
						<string>{543,470}</string>
						<key>IsTest</key>
						<false/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-15</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-15</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<integer>1</integer>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wolf_arm_left.png</string>
								<key>Position</key>
								<string>{68,137}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.1}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>blink</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<integer>1</integer>
													<key>Frames</key>
													<array>
														<string>wolf_tail_2.png</string>
														<string>wolf_tail_3.png</string>
														<string>wolf_tail_4.png</string>
														<string>wolf_tail_5.png</string>
														<string>wolf_tail_6.png</string>
														<string>wolf_tail_7.png</string>
														<string>wolf_tail_1.png</string>
													</array>
													<key>Name</key>
													<string>Animate</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>blink</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wolf_tail_1.png</string>
								<key>Position</key>
								<string>{354,171}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>wolf_body.png</string>
								<key>Position</key>
								<string>{121,82}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>10</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>10</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<integer>1</integer>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wolf_head.png</string>
								<key>Position</key>
								<string>{163,222}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.2}</string>
								<key>Sprites</key>
								<array>
									<dict>
										<key>ActionTree</key>
										<dict>
											<key>ani</key>
											<dict>
												<key>Action</key>
												<dict>
													<key>Actions</key>
													<array>
														<dict>
															<key>Duration</key>
															<real>0.5</real>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>ScaleTo</string>
															<key>Scale</key>
															<real>0.5</real>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>ScaleTo</string>
															<key>Scale</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>ScaleTo</string>
															<key>Scale</key>
															<real>0.5</real>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>ScaleTo</string>
															<key>Scale</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<integer>1</integer>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
													</array>
													<key>Name</key>
													<string>Sequence</string>
												</dict>
												<key>Name</key>
												<string>RepeatForever</string>
											</dict>
										</dict>
										<key>EventTree</key>
										<dict>
											<key>onEnter</key>
											<array>
												<dict>
													<key>Name</key>
													<string>ani</string>
													<key>Target</key>
													<string>self</string>
												</dict>
											</array>
										</dict>
										<key>File</key>
										<string>wolf_mouth.png</string>
										<key>Position</key>
										<string>{157,66}</string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-15</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-15</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<integer>1</integer>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wolf_arm_right.png</string>
								<key>Position</key>
								<string>{194,138}</string>
								<key>AnchorPoint</key>
								<string>{0,0.2}</string>
								<key>IsTest</key>
								<false/>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,-15}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,15}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,-15}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,15}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<integer>1</integer>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>bread.png</string>
								<key>Position</key>
								<string>{20,219}</string>
								<key>IsTest</key>
								<false/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Size</key>
						<string>{320,460}</string>
						<key>Position</key>
						<string>{773,-62}</string>
						<key>AnchorPoint</key>
						<string>{0.3,0}</string>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>1.1</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>1.2</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.8</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse.png</string>
								<key>Position</key>
								<string>{141,-21}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0}</string>
								<key>IsTest</key>
								<false/>
								<key>Sprites</key>
								<array>
									<dict>
										<key>ActionTree</key>
										<dict>
											<key>ani</key>
											<dict>
												<key>Action</key>
												<dict>
													<key>Actions</key>
													<array>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>20</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>20</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>1.2</real>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
													</array>
													<key>Name</key>
													<string>Sequence</string>
												</dict>
												<key>Name</key>
												<string>RepeatForever</string>
											</dict>
										</dict>
										<key>EventTree</key>
										<dict>
											<key>onEnter</key>
											<array>
												<dict>
													<key>Name</key>
													<string>ani</string>
													<key>Target</key>
													<string>self</string>
												</dict>
											</array>
										</dict>
										<key>File</key>
										<string>heimouse_arm_left.png</string>
										<key>Position</key>
										<string>{-16,156}</string>
										<key>AnchorPoint</key>
										<string>{0.9,0.3}</string>
										<key>IsTest</key>
										<false/>
									</dict>
									<dict>
										<key>ActionTree</key>
										<dict>
											<key>ani</key>
											<dict>
												<key>Action</key>
												<dict>
													<key>Actions</key>
													<array>
														<dict>
															<key>Duration</key>
															<real>0.4</real>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>-20</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>-20</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>0.3</real>
															<key>Name</key>
															<string>RotateTo</string>
															<key>Rotation</key>
															<integer>1</integer>
														</dict>
														<dict>
															<key>Duration</key>
															<real>1.2</real>
															<key>Name</key>
															<string>DelayTime</string>
														</dict>
													</array>
													<key>Name</key>
													<string>Sequence</string>
												</dict>
												<key>Name</key>
												<string>RepeatForever</string>
											</dict>
										</dict>
										<key>EventTree</key>
										<dict>
											<key>onEnter</key>
											<array>
												<dict>
													<key>Name</key>
													<string>ani</string>
													<key>Target</key>
													<string>self</string>
												</dict>
											</array>
										</dict>
										<key>File</key>
										<string>heimouse_arm_right.png</string>
										<key>Position</key>
										<string>{217,267}</string>
										<key>AnchorPoint</key>
										<string>{0.4,0.2}</string>
										<key>IsTest</key>
										<false/>
									</dict>
								</array>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{-4,7}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>1.2</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{4,-7}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.8</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_head.png</string>
								<key>Position</key>
								<string>{159,172}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>DelayTime</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>10</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>10</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>1</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.8</real>
											<key>Name</key>
											<string>DelayTime</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Size</key>
						<string>{320,460}</string>
						<key>Position</key>
						<string>{347,-68}</string>
						<key>AnchorPoint</key>
						<string>{0.5,0}</string>
						<key>Sprites</key>
						<array>
							<dict>
								<key>File</key>
								<string>baimouse_body.png</string>
								<key>Position</key>
								<string>{155,71}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>-20</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.4</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<integer>1</integer>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.8</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_arm.png</string>
								<key>Position</key>
								<string>{13,217}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.3}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>baimouse_head.png</string>
								<key>Position</key>
								<string>{163,93}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.2}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Actions</key>
										<array>
											<dict>
												<key>Duration</key>
												<integer>0</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, -120}, {955, 120}}</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>2</integer>
												<key>Name</key>
												<string>DelayTime</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>5</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, 120}, {955, 120}}</string>
											</dict>
										</array>
										<key>Name</key>
										<string>Sequence</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>word_5.png</string>
								<key>Position</key>
								<string>{525, 697}</string>
								<key>IsTest</key>
								<false/>
							</dict>
						</array>
						<key>ZOrder</key>
						<integer>99</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
