<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFNode</key>
	<dict>
		<key>Layers</key>
		<array>
			<dict>
				<key>Sprites</key>
				<array>
					<dict>
						<key>EventTree</key>
						<dict>
							<key>onSwipeRight</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.1</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<true/>
									<key>Scene</key>
									<string>page7</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
						</dict>
						<key>File</key>
						<string>back.png</string>
						<key>Position</key>
						<string>{512, 384}</string>
						<key>TouchEnabled</key>
						<true/>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Actions</key>
								<array>
									<dict>
										<key>Duration</key>
										<real>0.1</real>
										<key>Name</key>
										<string>Scene</string>
										<key>Scene</key>
										<string>page1</string>
										<key>Target</key>
										<string>self</string>
										<key>Transition</key>
										<string>TransitionPageTurn</string>
									</dict>
								</array>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onClick</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Scene</key>
									<string>page1</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionCrossFade</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{512,384}</string>
						<key>TouchEnabled</key>
						<true/>
						<key>Size</key>
						<string>{200,200}</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
