<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SFNode</key>
	<dict>
		<key>Textures</key>
		<array>
			<dict>
				<key>File</key>
				<string>Page1_default.plist</string>
			</dict>
		</array>
		<key>Layers</key>
		<array>
			<dict>
				<key>Sprites</key>
				<array>
					<dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>File</key>
									<string>page1.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playBackgroundMusic</string>
								</dict>
							</array>
							<key>onSwipeLeft</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<false/>
									<key>Scene</key>
									<string>page2</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
							<key>onSwipeRight</key>
							<array>
								<dict>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>stopBackgroundMusic</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.5</real>
									<key>Name</key>
									<string>Scene</string>
									<key>Reverse</key>
									<true/>
									<key>Scene</key>
									<string>cover</string>
									<key>Target</key>
									<string>self</string>
									<key>Transition</key>
									<string>TransitionPageTurn</string>
								</dict>
								<dict>
									<key>File</key>
									<string>page.mp3</string>
									<key>Name</key>
									<string>Audio</string>
									<key>Target</key>
									<string>self</string>
									<key>Task</key>
									<string>playEffect</string>
								</dict>
							</array>
						</dict>
						<key>File</key>
						<string>bg_1.png</string>
						<key>Position</key>
						<string>{512, 384}</string>
						<key>TouchEnabled</key>
						<true/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>SpriteBatchNode</key>
				<string>Page1_default.png</string>
				<key>SpriteFrames</key>
				<string>Page1_default.plist</string>
				<key>Sprites</key>
				<array>
					<dict>
						<key>File</key>
						<string>bela.png</string>
						<key>Position</key>
						<string>{926, 583}</string>
						<key>IsTest</key>
						<false/>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.2</real>
											<key>Name</key>
											<string>MoveBy</string>
											<key>Position</key>
											<string>{0,40}</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.2</real>
											<key>Name</key>
											<string>MoveBy</string>
											<key>Position</key>
											<string>{0,-40}</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.5</real>
											<key>Name</key>
											<string>DelayTime</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{634, 310}</string>
						<key>AnchorPoint</key>
						<string>{0.5,0.3}</string>
						<key>Size</key>
						<string>{220,300}</string>
						<key>IsTest</key>
						<false/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>20</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_ear_left.png</string>
								<key>Position</key>
								<string>{48,262}</string>
								<key>AnchorPoint</key>
								<string>{0.6,0.5}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>-20</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_ear_right.png</string>
								<key>Position</key>
								<string>{184,296}</string>
								<key>AnchorPoint</key>
								<string>{0.4,0.6}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>heimouse_head.png</string>
								<key>Position</key>
								<string>{118,234}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.3}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>-20</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_arm_left.png</string>
								<key>Position</key>
								<string>{44,192}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.3}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>20</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_arm_right.png</string>
								<key>Position</key>
								<string>{194,199}</string>
								<key>AnchorPoint</key>
								<string>{0.1,0.3}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>-20</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>DelayTime</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>heimouse_leg_right.png</string>
								<key>Position</key>
								<string>{181,69}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>heimouse_leg_left.png</string>
								<key>Position</key>
								<string>{60,64}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>heimouse_body.png</string>
								<key>Position</key>
								<string>{110,109}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.3}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.6</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>20</integer>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.6</real>
											<key>Name</key>
											<string>RotateTo</string>
											<key>Rotation</key>
											<integer>-20</integer>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{230, 200}</string>
						<key>AnchorPoint</key>
						<string>{0.5,0}</string>
						<key>Size</key>
						<string>{220,300}</string>
						<key>IsTest</key>
						<false/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>40</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_ear_left.png</string>
								<key>Position</key>
								<string>{36,232}</string>
								<key>AnchorPoint</key>
								<string>{0.6,0.5}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>30</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_ear_right.png</string>
								<key>Position</key>
								<string>{169,295}</string>
								<key>AnchorPoint</key>
								<string>{0.4,0.6}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>30</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_leg_left.png</string>
								<key>Position</key>
								<string>{44,70}</string>
								<key>AnchorPoint</key>
								<string>{0.7,0.7}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,8}</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.5</real>
													<key>Name</key>
													<string>MoveBy</string>
													<key>Position</key>
													<string>{0,-8}</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_leg_right.png</string>
								<key>Position</key>
								<string>{175,71}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.9}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>baimouse_head.png</string>
								<key>Position</key>
								<string>{94,136}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.1}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>40</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_arm_right.png</string>
								<key>Position</key>
								<string>{162,150}</string>
								<key>AnchorPoint</key>
								<string>{0.1,0.3}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>-40</string>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.6</real>
													<key>Name</key>
													<string>RotateTo</string>
													<key>Rotation</key>
													<string>1</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>baimouse_arm_left.png</string>
								<key>Position</key>
								<string>{32,138}</string>
								<key>AnchorPoint</key>
								<string>{0.9,0.3}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>baimouse_body.png</string>
								<key>Position</key>
								<string>{114,78}</string>
								<key>AnchorPoint</key>
								<string>{0.5,0.3}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Position</key>
						<string>{243, -84}</string>
						<key>File</key>
						<string>bg_1_1.png</string>
						<key>AnchorPoint</key>
						<string>{0,0}</string>
						<key>IsTest</key>
						<false/>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.4</real>
											<key>Frames</key>
											<array>
												<dict>
													<key>File</key>
													<string>xing_2.png</string>
												</dict>
												<dict>
													<key>File</key>
													<string>xing_1.png</string>
												</dict>
											</array>
											<key>Name</key>
											<string>Animate</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{-26, -18}</string>
						<key>File</key>
						<string>xing_1.png</string>
						<key>Tag</key>
						<integer>6789</integer>
						<key>AnchorPoint</key>
						<string>{0,0}</string>
						<key>IsTest</key>
						<false/>
					</dict>
					<dict>
						<key>ActionTree</key>
						<dict>
							<key>ani</key>
							<dict>
								<key>Action</key>
								<dict>
									<key>Actions</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.5</real>
											<key>Name</key>
											<string>MoveTo</string>
											<key>Position</key>
											<string>{834,355}</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.5</real>
											<key>Name</key>
											<string>MoveTo</string>
											<key>Position</key>
											<string>{834,341}</string>
										</dict>
									</array>
									<key>Name</key>
									<string>Sequence</string>
								</dict>
								<key>Name</key>
								<string>RepeatForever</string>
							</dict>
							<key>fly</key>
							<dict>
								<key>Name</key>
								<string>Sequence</string>
								<key>Actions</key>
								<array>
									<dict>
										<key>Duration</key>
										<integer>6</integer>
										<key>Name</key>
										<string>BezierTo</string>
										<key>StartPosition</key>
										<string>{834,341}</string>
										<key>ControlPoint1</key>
										<string>{150,750}</string>
										<key>ControlPoint2</key>
										<string>{150,-50}</string>
										<key>EndPosition</key>
										<string>{834,341}</string>
									</dict>
								</array>
							</dict>
						</dict>
						<key>EventTree</key>
						<dict>
							<key>onEnter</key>
							<array>
								<dict>
									<key>Name</key>
									<string>ani</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
							<key>onClick</key>
							<array>
								<dict>
									<key>Name</key>
									<string>fly</string>
									<key>Target</key>
									<string>self</string>
								</dict>
							</array>
						</dict>
						<key>Position</key>
						<string>{834, 341}</string>
						<key>Size</key>
						<string>{100,100}</string>
						<key>IsTest</key>
						<false/>
						<key>Border</key>
						<integer>2</integer>
						<key>TouchEnabled</key>
						<true/>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>0.5</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<integer>1</integer>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wing_left.png</string>
								<key>Position</key>
								<string>{64,54}</string>
								<key>AnchorPoint</key>
								<string>{0.2,0.1}</string>
							</dict>
							<dict>
								<key>File</key>
								<string>bee_1.png</string>
								<key>Position</key>
								<string>{41,56}</string>
							</dict>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Action</key>
										<dict>
											<key>Actions</key>
											<array>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>0.3</real>
												</dict>
												<dict>
													<key>Duration</key>
													<real>0.2</real>
													<key>Name</key>
													<string>ScaleTo</string>
													<key>ScaleX</key>
													<integer>1</integer>
													<key>ScaleY</key>
													<real>1.3</real>
												</dict>
											</array>
											<key>Name</key>
											<string>Sequence</string>
										</dict>
										<key>Name</key>
										<string>RepeatForever</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>wing_right.png</string>
								<key>Position</key>
								<string>{82,55}</string>
								<key>AnchorPoint</key>
								<string>{0.4,0.1}</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>Sprites</key>
						<array>
							<dict>
								<key>ActionTree</key>
								<dict>
									<key>ani</key>
									<dict>
										<key>Actions</key>
										<array>
											<dict>
												<key>Duration</key>
												<integer>0</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, -32}, {833, 32}}</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>2</integer>
												<key>Name</key>
												<string>DelayTime</string>
											</dict>
											<dict>
												<key>Duration</key>
												<integer>2</integer>
												<key>Name</key>
												<string>MaskBy</string>
												<key>Rect</key>
												<string>{{0, 32}, {833, 32}}</string>
											</dict>
										</array>
										<key>Name</key>
										<string>Sequence</string>
									</dict>
								</dict>
								<key>EventTree</key>
								<dict>
									<key>onEnter</key>
									<array>
										<dict>
											<key>Name</key>
											<string>ani</string>
											<key>Target</key>
											<string>self</string>
										</dict>
									</array>
								</dict>
								<key>File</key>
								<string>word_1.png</string>
								<key>Position</key>
								<string>{533, 724}</string>
								<key>Border</key>
								<integer>1</integer>
								<key>DragEnabled</key>
								<true/>
							</dict>
						</array>
						<key>ZOrder</key>
						<integer>99</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
