<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>文章模板</title>
		
		<link rel="stylesheet" type="text/css" href="../css/article.css" />
		<script type="text/javascript" src="../js/code.js"></script>
		<script type="text/javascript" src="../js/comment.js"></script>
		<script type="text/javascript" src="../js/qzone.js"></script>
	</head>
	
	<body>
		
		<div id="wrap">
			<header>
				<div><a href="../index.html">&lt;&lt; HOME</a></div>
			</header>
			
			<div id="main">
				
				<article><h1 id="title">${#title}</h1>
					<p id="body">${#body}</p>
					<div id="author">${#author}</div>
					<div id="comments"><span style="color: gray; ">Loading comments...</span></div>
				</article>
				
				<aside>
					<h3>文章列表</h3>
					<ul id="articles"><span style="color: gray; ">Loading articles...</span></ul>
				</aside>
				
				<div class="clear">&nbsp;</div>
				
			</div>
			
			<div id="qzone_wrap">
				<div id="qzone"><span style="color: gray; ">Loading Q-Zone articles...</span></div>
			</div>
			
			<footer>
				
				<div id="copyright">&copy;2013 moKy</div>
				
			</footer>
		</div>
		
	</body>
</html>